<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <base href="/">
  <title>Bible App</title>
  <link rel="stylesheet" type="text/css" href="scripts/lib/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="scripts/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/login_reg.css">

</head>
<body>
		<!-- <div ng-include src="'partials/nav.html'"></div>
		<div ng-include src="'partials/header.html'"></div> -->
    <div id="app-container" ng-view></div>
    
    <!-- <script data-main="scripts/webapp.min.js" src="scripts/lib/requirejs/require.js"></script> -->
    <script data-main="scripts/src/main.js" src="scripts/lib/requirejs/require.js"></script>

</body>
</html>