extends layout

block content
  div.container
    div.row
      br
      br
      br
      br
      br
      .col-md-10.col-sm-12.col-xs-12
        .panel.panel-primary
          // Default panel contents
          .panel-heading Bible
        div.row
          .col-md-4.col-sm-6.col-xs-12
            ul.list-group
              li.list-group-item.active Book
              li.list-group-item Genesis
              li.list-group-item Exodus
              li.list-group-item Levicitus
              li.list-group-item Duetronomy
              li.list-group-item Joshua
          .col-md-8.col-sm-10.col-xs-12
            ul.list-group
              li.list-group-item.active Chapter
              li.list-group-item 1
              li.list-group-item 2
              li.list-group-item 3
              li.list-group-item 4
              li.list-group-item 5
