extends layout

block content
  div.container
    div.row
      br
      br
      br
      br
      br
      div.col-md-12.col-sm-12.col-xs-12
      #gateway_language_bible
        .panel.panel-default
          // Default panel contents
          .panel-heading Bible List
          // Table
          table.table
            thead
              tr
                th Id
                th version
                th Code
                th Path
                th(colspan="3") Action
            tbody
              tr
                th 1
                td #{gateway_language_bible.bibleId}
                td #{gateway_language_bible.language}
                td #{gateway_language_bible.version}
                td.btn.btn-default.btn-sm show
                td.btn.btn-primary.btn-sm edit
                td.btn.btn-danger.btn-sm delete
