extends layout

block content
  div.container
    div.row
      br
      br
      br
      br
      br
      div.col-md-12.col-sm-12.col-xs-12
      #gateway_language_bible
        .panel.panel-default
          // Default panel contents
          .panel-heading Bible List
          // Table
          table.table
            thead
              tr
                th Id
                th Url
                th Language
                th Path
                th Version
                th(colspan="3") Action
            tbody
              - for val in gateway_language_bibles
                tr
                  th= val.bibleId
                  td= val.bibleUrl
                  td= val.langCode
                  td= val.version
                  td.btn.btn-default.btn-sm show
                  td.btn.btn-primary.btn-sm edit
                  td.btn.btn-danger.btn-sm delete
          .panel-footer
            button.btn.btn-primary(type='button', data-target="#myModal", data-toggle="modal") Upload Bible

    #myModal.modal.fade(role='dialog')
      .modal-dialog
        form.form-horizontal(action='/create_bible', method='post', role='form')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h5.modal-title Import New Gateway Language Bible
            .modal-body
              .form-group
                label.col-sm-3.control-label(for='bibleid') Bible Id
                .col-sm-9
                  input#bibleid.form-control(type='bibleid', placeholder='enter Bible id')
              .form-group
                label.col-sm-3.control-label(for='langcode') Language Code
                .col-sm-9
                  input#langcode.form-control(type='langcode', placeholder='enter language code')
              .form-group
                label.col-sm-3.control-label(for='version') Version
                .col-sm-9
                  input#version.form-control(type='version', placeholder='enter version')
              .form-group
                label.col-sm-3.control-label(for='bibleUrl') URL/File
                .col-sm-9
                  input#exampleInputFile.form-control(type='bibleUrl', placeholder='enter path')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Import

